@use 'fonts';

$primary-color: #000094;
$secondary-color: #00FFFF;
$accent-color: #6699CC;
$body-text-color: #714B4B;
$heading-font-family: 'ubuntu sans', helvetica, arial;
$body-font-family: 'poppins',helvetica,arial;
$base-font-size: 16px;
$base-font-weight: 400;

