.blue{
    background-color: #000094;
    max-width: 100%;
    height: 357px;
    z-index: -1;
    margin-top: -5px;
}

.white {
    color: white;
    font-size: 32px;
    margin-top: -250px;
    margin-bottom: 30px;
    z-index: 1;
}

.white-2 {
    color: white;
    font-size: 16px;
    z-index: 1;
    margin-bottom: 150px;
    
}

.abt-img{
    margin: 80px 50px;
    width: 396px;
} 