.blue{
    background-color: #000094;
    max-width: 100%;
    height: 357px;
    z-index: -1;
    margin-top: -5px;
}

.white {
    color: white;
    font-size: 32px;
    margin-top: -250px;
    margin-bottom: 30px;
    z-index: 1;
}

.white-2 {
    color: white;
    font-size: 16px;
    z-index: 1;
    margin-bottom: 150px;
    
}

.abt-img{
    margin: 50px auto;
    width: 412px;
} 

#space{
    margin-top: 50px;
}

#down {
    margin: 0;
}

@media screen and (min-width: 768px) { 


    .abt-img{
      
       margin-bottom: 100px;
        width: 263px;
        height: auto;
    } 
    

    #down {
       margin-top: 50px;
    }

    #space{
        margin-top: -400px;
        
    }

}


@media screen and (min-width: 1200px) { 


    .abt-img{
      
       margin-bottom: 100px;
        width: 263px;
        height: auto;
    } 
    

    #down {
       margin-top: 150px;
    }

    #space{
        margin-top: -400px;
        
    }

}