@use "../abstracts" as a;

footer {
  background-color: a.$accent-color;
  color: white;
  height: 40px;
}

footer p {
  line-height: 40px;
}

.footer {
  width: 430px;
  height: 800px;
  background: linear-gradient(180deg, #000094 0%, #00002E 100%);
}
