.top-header{
    color: #000094;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 500;
}

.lower-header {
    color: #6699CC;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 100;
}

.recent {
    font-size: 16px;
    color: #714B4B;
    margin-bottom: 50px;
}

@media screen and (min-width: 1200px) { 

    #player-container-2 {

        border-radius: 20px;
      
      }
    .main-image{
        border-radius: 20px;
    }

    .main-image img{
       height: 100%;
    }
}