/* General layout for the player container */
.player-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  z-index: 2;
}

/* Styling for player container on smaller screens */
#player-container-2 {
  border-radius: 20px 20px 0 0;
  width: 99.35%;
  margin-left: 1.25px;
}

/* Video controls visibility */
.video-controls.hidden {
  display: none;
}

/* Styling for video controls at the bottom */
.video-controls {
  right: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  display: flex;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

/* Button reset styles */
button {
  padding: 0;
  border: 0;
  background-color: transparent;
  
}

/* FontAwesome icon styles */
.fa {
  font-size: 25px !important;
  margin-bottom: 20px;
}

.fa, .fa-solid {
  color: #fff;
  font-size: 40px;
  margin-left: 20px;
}

.fa-stop-circle-o {
  margin-right: 20px;
}

.fa-volume-up {
  margin-left: auto;
}

/* Range input reset styles */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 5rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/* Chrome, Safari, Opera, and Edge Chromium styles for range */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 0.25rem;
  margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #dadada;
  border-radius: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
  
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid #00ffff;
  outline-offset: 0.05rem;
}

/* Firefox styles for range */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.8rem;
  height: 0.8rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none;
  border-radius: 0.8rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/* Styling for progress bar */
#video-progress {
  width: 90%;
  height: 5px;
  position: absolute;
  bottom: 10px;
  left: 5%;
   /* Light blue background */
  border: none;
  appearance: none;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

#video-progress::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #000094; /* Blue thumb */
  border-radius: 50%;
  cursor: pointer;
}

#video-progress::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: #000094;
  border-radius: 50%;
  cursor: pointer;
}

/* Styling for first blue section */
.first-blue {
  width: auto;
  height: 100px;
  background-color: #000094;
  z-index: 1;
  margin-bottom: 80px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 70px;
}

/* Styling for second blue section */
.sec-blue {
  width: auto;
  height: 100px;
  background-color: #000094;
  margin-top: 80px;
  border-radius: 20px;
}

/* Media query for tablets (min-width: 768px) */
@media screen and (min-width: 768px) {
  .player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
  }

  .first-blue {
    width: auto;
    height: 200px;
    background-color: #000094;
    margin-bottom: -100px;
    margin-top: 150px;
  }

  .sec-blue {
    width: auto;
    height: 200px;
    background-color: #000094;
    z-index: 1;
    position: relative;
    margin-top: -100px;
    border-radius: 20px;
    overflow: hidden;
  }
}

/* Media query for large screens (min-width: 1200px) */
@media screen and (min-width: 1200px) {
  .player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
  }


  .first-blue {
    width: auto;
    height: 200px;
    background-color: #000094;
    z-index: 1;
    margin-bottom: -100px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 150px;
  }

  .sec-blue {
    max-width: auto;
    height: 200px;
    background-color: #000094;
    z-index: 1;
    position: relative;
    margin-right: 0;
    margin-top: -100px;
    border-radius: 20px;
    overflow: hidden;
  }
}
