//
@use "../abstracts/variables" as v;

.header-hello{
  font-size: 16px;
  letter-spacing: 10px;
  font-weight: 100;
  opacity: 48%;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }

}

.typewriter{
  font-size: 72px;
  font-weight: 600;
  color: #000094;
  margin-top: 20px;
  text-align: center;
}

.typewriter2{
  font-size: 72px;
  font-weight: 600;
  color: #000094;
  margin-top: 20px;
  text-align: center;
}

#whitey {
  text-align: center;
  margin: 50px 50px 80px 50px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {

  .header-hello{
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: 100;
    opacity: 48%;
    margin-top: 40px;
    text-align: left;
  }

  .typewriter{
    font-size: 72px;
    font-weight: 600;
    color: #000094;
    margin-top: 20px;
    text-align: left;
  }

  .typewriter2{
    font-size: 72px;
    font-weight: 600;
    color: #000094;
    margin-top: 20px;
    text-align: left;
  }

  #whitey {
    text-align: left;
    margin: 50px 0px 80px 0px;
    font-weight: 400;
  }
}