body {
  font-family: "Poppins", sans-serif;
}

#main-image {
  max-width: 100%;
  
  margin: 0;
  overflow: hidden; /* Hides excess parts, if needed */
}

.main-image {
  max-width: 100%;
  
  margin: 0;
  overflow: hidden; /* Hides excess parts, if needed */
}


#zima-banner{
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.skills{
  margin-top: 50px;
  margin-bottom: 50px;
}

.me {
  max-width: 100%;
  margin-top: 100px;
}

@media screen and (min-width: 768px) { 

  #main-image {
    max-width: 100%;
    
    margin-top: -150%;
    overflow: hidden; /* Hides excess parts, if needed */
  }   


  #main-image img {
   max-width: 100%;
   height: 924px;
   border-radius: 0 0 0 180px;
   
    
   
    overflow: hidden; /* Hides excess parts, if needed */
  }
  
}