.grade{
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, #000094 0%, #00002E 100%);
    margin-bottom: -120px;
    border-radius: 0 0 20px 20px;
    z-index: -1;
    
    overflow: hidden;
}

.down{
    margin-top: 100px;
}

#get-in-touch-3{

    margin: 50px auto;
    
    @media screen and (min-width: 768px) { 
        
        margin-top: -50px;
        margin-left: 0px;
  
    }
      
    @media screen and (min-width: 1200px) { 
        
      margin-top: -50px;
      margin-left: 0px;
  
  }
  }

.detail-main {
    font-size: 64px;
    color: #000094;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}


.abt-img-prof2 {
    animation: moveUpDown 3s infinite;
}

/* Keyframes for the up and down movement */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}


.main-image2 img{
    border-radius: 0 0 20px 20px;
    max-width: 100%;
    @media screen and (min-width: 1200px) { 
        border-radius: 20px;
    }

}
.p-main {
    font-size: 16px;
    color: #714B4B;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.p-main-2 {
    font-size: 16px;
    color: #714B4B;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.heavy {
    font-weight: 600;
}

.d-image{
    width: 100%;
    height: auto;
    margin: 50px auto;
    justify-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 20px;
}

.d-image img{
    width: 100%;
    border-radius: 20px;
}

@media screen and (min-width: 768px) { 

    .grade{
        width: 100%;
        height: 120px;
        background: linear-gradient(180deg, #000094 0%, #00002E 100%);
        margin-bottom: -120px;
        border-radius: 20px;
        z-index: -1;
        margin-top: 5px;
        overflow: hidden;
    }

    .detail-main {
        font-size: 64px;
        color: #000094;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: left;
    }
    
    
    .p-main {
        font-size: 16px;
        color: #714B4B;
        margin-top: 0;
        margin-bottom: 100px;
        text-align: left;
    }

    .p-main-2 {
        font-size: 16px;
        color: #714B4B;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    .d-image{
        width: 100%;
        height: auto;
        margin: 50px 0;
        
    }
}
